<h1>  test </h1>
 <% if(username === undefined) { %>
<form action="/login" method="POST" style="margin:150px;">
<input type="text" name="username" placeholder="log in" style="width: 300px">
<input type="submit" value="Submit">
</form>
<% }%>

<% if(username !== undefined) { %>
  <h2> you are already logged in </h2>
<form action="/logout/<%=username%>" method="POST" style="margin:150px;">
 <input type="submit" value="logout">
 </form>
<% } %>