<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% for(var k in templateVar) {%>
   <p> <%= templateVar[k] %>, <%= k%> </p>

<form method="POST" action="/urls/<%=k%>/delete">
<input type = "submit" value = "delete">
</form>
<form method="POST" action="/urls/<%=k%>/update">
<input type = "submit" value = "uodate">
</form>

    <% } %>
</body>
</html>
